/* For demo */
.ant-carousel .slick-slide {
    text-align: center;
    height: 100%;
    overflow: hidden;
  }
  

img{
    max-width: 100%;
    max-height: 300px;
    margin:auto;
    display: block; /* remove extra space below image */
}

.delete-ref{
  font-size: 35px;
  color: gray;
  transition: 0.3s;
}

.delete-ref:hover{
  font-size: 55px;
  color: #FB5A37;
  transition: 0.3s;

}

.endtext{
    margin: 0 0 0 360px;
}

.loadingIcon{
    fontSize: 24;
}

.loader{
    alignContent: center;
}

.delete-btn{
    float : right;
}
